@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background: #000430;
    background: linear-gradient(135deg, #527cd5, #4a0686);
    color: #fff;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-top: 100px;
    width: 550px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
}

.state-container {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffffff80;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.details {
    width: 100%;
}

#progressBar {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffffff50;
}

#progress {
    width: 0;
    height: 10px;
    background-color: #cdd5d7;
    border-radius: 10px;
    transition: all 0.5s ease-in;
}

#numbers {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    border: none;
}

form {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 10px
}

input {
    flex: 1;
    padding: 16px;
    background-color: #252f69;
    border: 1px solid #828fff72;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 18px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #828fff;
    color: white;
    /* border: none; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    list-style: none;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff20;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.task input {
    width: 20px;
    height: 20px;
}

.icons {
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.completed p {
    text-decoration: line-through;
    color: blue;
}

@media screen and (max-width: 768px) {
    body {
        font-family: "Poppins", sans-serif;
        background: #5a07ac;
    }
    .container {
        width: 90%;
        padding: 10px;
    }
    .state-container {
        padding: 10px;
    }
    #progressBar {
        margin-top: 10px;
    }
    #numbers {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    .icons {
        align-items: center;
        display: flex;
        gap: 20px;
    }
    button {
        height: 40px;
        font-size: 18px;
    }
    .task {
        font-size: 14px;
    }
    .taskItem {
        width: 95%;
    }
}
